<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474478825939-3ieibft0klaborcdepac99sfmks60pc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474478825939-3ieibft0klaborcdepac99sfmks60pc9</string>
	<key>API_KEY</key>
	<string>AIzaSyDiMKPbMOM2Kv92el5tZTOlOMWLbbW7AhA</string>
	<key>GCM_SENDER_ID</key>
	<string>474478825939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.usaficity</string>
	<key>PROJECT_ID</key>
	<string>usaf-ty</string>
	<key>STORAGE_BUCKET</key>
	<string>usaf-ty.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474478825939:ios:aa257227dd4b76cbac9f26</string>
</dict>
</plist>